#head1{
     color: red;
     position: fixed;
}
.extreme{
     color: peach;
     position: fixed;
     border: 10px;
}
.navzone{
     color: purple;
     border: 1px solid red;
}
#tehlulz{
     color: red;
     font-family:"Times New Roman", Times, serif;
}
